h1 {
    font-family: "Science Gothic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100,
      "CTRS" 0;
      font-size: 50px;
      color: black;
  }

.p0-main {
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

.song-01 {
    font-size: 60px;
    background-color: rgba(197, 100, 71, 0.766);
}